.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86vw;
    padding: 25px;
    background: #d9d7e833;
}
.button>h3{
    font-size: 20px;
}
.create-btn{
    padding: 11px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    background: hsla(211, 96%, 62%, 1);

    background: linear-gradient(45deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1 );
    color: white;
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info>p{
    font-size: 0.8rem;
    color: #0000009e;
}
@media screen and (max-width:575px) {
    .info>p{
        display: none;
    }
}