.card{
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000015;
    transition: .3s;
    width: 296px;
    height: 334px;
    cursor: pointer;
}
.card-img{
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.card-img img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    transition: .3s;
    /* aspect-ratio: 3/2; */
}
.card-img:hover img{
    transform: scale(1.1);
}
.card-info{
    padding: 20px;
}
.card-price{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.card-price>h3{
    background: rgb(158 255 202 / 56%);
    color: rgb(8 153 23);
    padding: 7px 12px;
    font-size: 13px;
    font-weight: 800;
    border-radius: 40px;
    /* color: rgb(65, 72, 78); */
}
.card-price>p{
    background: rgb(222 224 223 / 34%);
    color: rgb(58 59 58 / 79%);
    padding: 7px 12px;
    font-size: 13px;
    font-weight: 800;
    border-radius: 40px;
    /* color: rgb(65, 72, 78); */
}
.card-date{
    margin-top: 15px;
    font-size: 13px;
    color: rgb(65, 72, 78);
}
.card-name{
    margin-top: 15px;
}
.card-btn{
    margin-top: 20px;
    padding: 10px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 40px;
    color: #ffffffd4;
    background: rgba(10, 7, 76, 0.822);
}

.organizer{
    padding: 20px;
}
.organizer>p{
    font-size: 15px;
    color: gray;
    font-weight: 600;
}
.organizer-name{
    padding: 20px;
}
.organizer-name>p{
    font-size: 15px;
    color: gray;
    font-weight: 600;
}